{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

    <div class="card shadow">
        <div class="card-body">

            <h4 class="text-danger">{{ page_title }}</h4>

            <p>
                Are you sure you want to delete
                <strong>{{ platform.name }}</strong> ?
            </p>

            <form method="POST">
                {% csrf_token %}

                <button type="submit" class="btn btn-danger">
                    Yes, Delete
                </button>

                <a href="{% url 'delivery_platform_list' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>
            </form>

        </div>
    </div>

</div>

{% endblock %}
