@charset "utf-8";
/* 한줄 말줄임 */
.ellipsis{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
/* 스크롤 바 숨기기 */
.invisible-scroll{-ms-overflow-style:none; scrollbar-width:none;}
.invisible-scroll::-webkit-scrollbar{display:none;}
/* Input 엘리먼트 다국어 설정 */
input.de{ime-mode:inactive;}
input.dk{ime-mode:active;}
input.al{ime-mode:auto;}
input.oe{ime-mode:disabled;}
/* 그리드 시스템 초기화 */
[class^=grid]{clear:none; float:left;}
.row:not(.flex)::after{position:initial; display:block; clear:both;}
.row.flex{display:flex; flex-wrap: wrap;}
.rowfull{display:inline-block; width:100%; vertical-align:top;}
/* 웹 접근성 숨김 처리 (Web Accessibility Initiative) */
.wai{position:absolute !important; z-index:-999 !important; opacity:0 !important; width:0 !important; height:0 !important;}
/* Atomic */
.p-4 { padding: 4; }
.mb-4 { margin-bottom: 4; }
.mb-3 { margin-bottom: 3; }
.mt-3 { margin-top: 3; }
.mt-4 { margin-top: 4; }
.mb-0 { margin-bottom: 0; }.w-100 { width: 100; }
.mt-2 { margin-top: 2; }
.h3 { height: 3; }.mt-5 { margin-top: 5; }.p-5 { padding: 5; }.fa { flex:auto }