{% extends "base.html" %}
{% block 'content %}

<h3>Add Product</h3>

<form method="POST" class="card p-4 shadow">
    {% csrf_token %}

    <div class="mb-3">
        <label>Product Name <span class="text-danger">*</span></label>
        {{ form.name }}
        <div class="text-danger">{{ form.name.errors }}</div>
    </div>

    <div class="mb-3">
        <label>Supplier <span class="text-danger">*</span></label>
        {{ form.supplier }}
        <div class="text-danger">{{ form.supplier.errors }}</div>
    </div>

    <button class="btn btn-success">Save</button>

</form>

{% endblock %}
